# Ignore swap files
*.swp

# Ignore macOS hidden files
*.DS_Store

# Ignore files created by OS when symlinking the nvim directory
nvim/undodir

# Ignore nvim-kitty-navigator files
kitty/navigate_kitty.py
kitty/pass_keys.py
